<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400626139894-b8cqvn6uh0t09mbsegb8e2168dc2d34v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400626139894-b8cqvn6uh0t09mbsegb8e2168dc2d34v</string>
	<key>API_KEY</key>
	<string>AIzaSyCCLivHqi6ZNmRrANh2In2XJE0X38eDx7w</string>
	<key>GCM_SENDER_ID</key>
	<string>400626139894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-7dcb4</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-7dcb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400626139894:ios:f64d388a11acf6070d62d7</string>
</dict>
</plist>